<div>
  <!-- pongo el propertybiding formgroup y el nombre del formularia que le quiera poner, este nombre sera con el que yo trabaje en el ts y contruya el grupo de inputs -->
  <form [formGroup]="formLogin" (submit)="send()" action="">

    <div>
      <label for="email">Email</label>
      <!-- el formcontrolname es la propiedad con la cual se va a identificar este input en el ts cuando se hace el formbuilder, es decir deben llamarse igual  -->
    <input id="email" formControlName="email" type="text">

    </div>
    <div>
      <label  for="password">Contraseña</label>
      <input type="text" id="password" formControlName="password">

    </div>
    <div>
      <label  for="terms">Terminos</label>
      <input type="checkbox" id="terms" formControlName="terms">

    </div>
    <div>
      <button [disabled]="formLogin.invalid">Enviar</button>
    </div>

  </form>

</div>

<div>
  <p> Valido: {{ formLogin.valid | json }}</p>

</div>
